*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #278933;
    color: #174f79;
    padding: 15px;
}

.date-info{
    color: #fff;
    text-align: center;
    height: 25px;
    line-height: 25px;
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.box-pass{
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    height: calc(100vh - 75px);
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
    body {
      /* The hack for Safari */
      height: -webkit-fill-available;
    }
  }